@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container {
  position: relative;
  /* width: 50%; */
}

.whole-product-in-container {
  opacity: 1;
  display: block;
  /* width: 100%; */
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 150px;
  border-radius: 15px;
}

.card-container:hover .whole-product-in-container {
  opacity: 0.1;
}

.card-container:hover .middle {
  opacity: 1;
}

input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#header-search-input {
  padding: 0;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgb(105, 14, 14);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes ahtLogo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#animated-logo {
  animation-name: ahtLogo;
  animation-duration: 50s;
  animation-iteration-count: infinite;
}

/* CATALOGUE */



.catalogueImgLoader {
  position: fixed;
  -webkit-animation: preLoad 1s steps(1);
          animation: preLoad 1s steps(1);
  width: 1px;
  height: 1px;
}
@-webkit-keyframes preLoad {
  0% {
    background-image: url("./1.jpg");
  }
  10% {
    background-image: url("./2.jpg");
  }
  20% {
    background-image: url("./3.jpg");
  }
  30% {
    background-image: url("./5.jpg");
  }
  40% {
    background-image: url("./6.jpg");
  }
  100% {
    display: none;
  }
}
@keyframes preLoad {
  0% {
    background-image: url("./1.jpg");
  }
  10% {
    background-image: url("./2.jpg");
  }
  20% {
    background-image: url("./3.jpg");
  }
  30% {
    background-image: url("./5.jpg");
  }
  40% {
    background-image: url("./6.jpg");
  }
  100% {
    display: none;
  }
}

.catalogueContainer {
  position: relative;
  width: 420px;
  /* border: #fff solid 2px; */
  border-radius: 4px;
  height: 420px;
  transform: scale(1.5);
  transform-origin: 0% 0% 0px;

}

.catalogueTitle {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  font-size: 2em;
  font-weight: normal;
  line-height: 1;
}

.credit {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 0.9em;
  text-align: left;
}

.catalogueBook {
  position: relative;
  perspective: 730px;
  perspective-origin: center 10px;
  transform: scale(1);
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.25));
}

.catalogueBook-cataloguePages-page {
  width: 210px;
  height: 300px;
  background-color: #bbb;
  position: absolute;
  top: 0px;
  right: 50%;
  transform-origin: 100% 100%;
  border: solid #555 1px;
  background-size: 420px 300px;
  background-position: center;
  transform-style: preserve-3d;
}
.catalogueBook-cataloguePages-page:nth-child(1) {
  transform: rotateX(60deg) rotateY(3deg);
}
.catalogueBook-cataloguePages-page:nth-child(2) {
  transform: rotateX(60deg) rotateY(4.5deg);
}
.catalogueBook-cataloguePages-page:nth-child(3) {
  transform: rotateX(60deg) rotateY(6deg);
  -webkit-animation: nextPage 25s infinite -24s steps(1);
          animation: nextPage 25s infinite -24s steps(1);
  background-size: 420px 300px;
  background-position: -2px -2px;
}
.catalogueBook-cataloguePages-page:nth-child(4) {
  transform: rotateX(60deg) rotateY(177deg);
}
.catalogueBook-cataloguePages-page:nth-child(5) {
  transform: rotateX(60deg) rotateY(175.5deg);
}
.catalogueBook-cataloguePages-page:nth-child(6) {
  transform: rotateX(60deg) rotateY(174deg);
  overflow: hidden;
}
.catalogueBook-cataloguePages-page:nth-child(6)::after {
  content: "";
  width: 210px;
  height: 300px;
  position: absolute;
  top: 0px;
  right: 0%;
  transform-origin: center;
  transform: rotateY(180deg);
  -webkit-animation: nextPage 25s -20s infinite steps(1);
          animation: nextPage 25s -20s infinite steps(1);
  background-size: 420px 300px;
  background-position: 100% -2px;
}
@-webkit-keyframes nextPage {
  0% {
    background-image: url("./1.jpg");
  }
  20% {
    background-image: url("./2.jpg");
  }
  40% {
    background-image: url("./3.jpg");
  }
  60% {
    background-image: url("./5.jpg");
  }
  80% {
    background-image: url("./6.jpg");
  }
}
@keyframes nextPage {
  0% {
    background-image: url("./1.jpg");
  }
  20% {
    background-image: url("./2.jpg");
  }
  40% {
    background-image: url("./3.jpg");
  }
  60% {
    background-image: url("./5.jpg");
  }
  80% {
    background-image: url("./6.jpg");
  }
}

.catalogueBook-gap {
  width: 10px;
  height: 300px;
  background: none;
  transform: rotateX(60deg);
  transform-origin: bottom;
  position: absolute;
  top: 0px;
  left: calc(50% - 5px);
}
.catalogueBook-gap::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #555;
  width: 10px;
  height: 5px;
  border-radius: 50%;
}

.catalogueBook-cataloguePages, .catalogueFlips {
  transform-style: preserve-3d;
}

.catalogueFlip {
  width: 32px;
  height: 300px;
  position: absolute;
  top: 0px;
  transform-origin: 100% 100%;
  right: 100%;
  border: solid #555;
  border-width: 2px 0px;
  perspective: 4200px;
  perspective-origin: center;
  transform-style: preserve-3d;
  background-size: 420px 300px;
}
.catalogueFlip::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0%;
  width: 100%;
  height: 100%;
  transform-origin: center;
  background-size: 420px 300px;
}
.catalogueFlip.catalogueFlip1 {
  right: 50%;
  -webkit-animation: catalogueFlip1 5s infinite ease-in-out;
          animation: catalogueFlip1 5s infinite ease-in-out;
  border-width: 2px 2px 2px 0;
}
.catalogueFlip.catalogueFlip1::after {
  -webkit-animation: nextFlip1 25s -20s infinite steps(1);
          animation: nextFlip1 25s -20s infinite steps(1);
}
.catalogueFlip:not(.catalogueFlip1) {
  right: calc(100% - 2px);
  top: -2px;
  transform-origin: right;
  -webkit-animation: catalogueFlip2 5s ease-in-out infinite;
          animation: catalogueFlip2 5s ease-in-out infinite;
}
.catalogueFlip.catalogueFlip2::after {
  -webkit-animation: nextFlip2 25s -20s infinite steps(1);
          animation: nextFlip2 25s -20s infinite steps(1);
}
.catalogueFlip.catalogueFlip3::after {
  -webkit-animation: nextFlip3 25s -20s infinite steps(1);
          animation: nextFlip3 25s -20s infinite steps(1);
}
.catalogueFlip.catalogueFlip4::after {
  -webkit-animation: nextFlip4 25s -20s infinite steps(1);
          animation: nextFlip4 25s -20s infinite steps(1);
}
.catalogueFlip.catalogueFlip5::after {
  -webkit-animation: nextFlip5 25s -20s infinite steps(1);
          animation: nextFlip5 25s -20s infinite steps(1);
}
.catalogueFlip.catalogueFlip6::after {
  -webkit-animation: nextFlip6 25s -20s infinite steps(1);
          animation: nextFlip6 25s -20s infinite steps(1);
}
.catalogueFlip.catalogueFlip7::after {
  -webkit-animation: nextFlip7 25s -20s infinite steps(1);
          animation: nextFlip7 25s -20s infinite steps(1);
}
.catalogueFlip.catalogueFlip7 {
  width: 30px;
  border-width: 2px 0px 2px 2px;
}
.catalogueFlip.catalogueFlip7::after {
  -webkit-animation: nextFlip7 25s -20s infinite steps(1);
          animation: nextFlip7 25s -20s infinite steps(1);
}
@-webkit-keyframes catalogueFlip1 {
  0%, 20% {
    transform: rotateX(60deg) rotateY(6deg);
  }
  80%, 100% {
    transform: rotateX(60deg) rotateY(174deg);
  }
}
@keyframes catalogueFlip1 {
  0%, 20% {
    transform: rotateX(60deg) rotateY(6deg);
  }
  80%, 100% {
    transform: rotateX(60deg) rotateY(174deg);
  }
}
@-webkit-keyframes catalogueFlip2 {
  0%, 20% {
    transform: rotateY(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(-15deg) translateY(0px);
  }
}
@keyframes catalogueFlip2 {
  0%, 20% {
    transform: rotateY(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(-15deg) translateY(0px);
  }
}

@-webkit-keyframes nextFlip1 {
  0% {
    background-image: url("./1.jpg");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  10% {
    background-image: url("./2.jpg");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("./2.jpg");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  30% {
    background-image: url("./3.jpg");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("./3.jpg");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  50% {
    background-image: url("./5.jpg");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("./5.jpg");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  70% {
    background-image: url("./6.jpg");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("./6.jpg");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  90% {
    background-image: url("./1.jpg");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
}

@keyframes nextFlip1 {
  0% {
    background-image: url("./1.jpg");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  10% {
    background-image: url("./2.jpg");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("./2.jpg");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  30% {
    background-image: url("./3.jpg");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("./3.jpg");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  50% {
    background-image: url("./5.jpg");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("./5.jpg");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  70% {
    background-image: url("./6.jpg");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("./6.jpg");
    background-position: -178px -2px;
    transform: rotateY(0deg);
  }
  90% {
    background-image: url("./1.jpg");
    background-position: -210px -2px;
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes nextFlip2 {
  0% {
    background-image: url("./1.jpg");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  10.5% {
    background-image: url("./2.jpg");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("./2.jpg");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  30.5% {
    background-image: url("./3.jpg");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("./3.jpg");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  50.5% {
    background-image: url("./5.jpg");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("./5.jpg");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  70.5% {
    background-image: url("./6.jpg");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("./6.jpg");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  90.5% {
    background-image: url("./1.jpg");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
}
@keyframes nextFlip2 {
  0% {
    background-image: url("./1.jpg");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  10.5% {
    background-image: url("./2.jpg");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("./2.jpg");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  30.5% {
    background-image: url("./3.jpg");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("./3.jpg");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  50.5% {
    background-image: url("./5.jpg");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("./5.jpg");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  70.5% {
    background-image: url("./6.jpg");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("./6.jpg");
    background-position: -148px -2px;
    transform: rotateY(0deg);
  }
  90.5% {
    background-image: url("./1.jpg");
    background-position: -238px -2px;
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes nextFlip3 {
  0% {
    background-image: url("./1.jpg");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  11% {
    background-image: url("./2.jpg");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("./2.jpg");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  31% {
    background-image: url("./3.jpg");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("./3.jpg");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  51% {
    background-image: url("./5.jpg");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("./5.jpg");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  71% {
    background-image: url("./6.jpg");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("./6.jpg");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  91% {
    background-image: url("./1.jpg");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
}
@keyframes nextFlip3 {
  0% {
    background-image: url("./1.jpg");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  11% {
    background-image: url("./2.jpg");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("./2.jpg");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  31% {
    background-image: url("./3.jpg");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("./3.jpg");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  51% {
    background-image: url("./5.jpg");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("./5.jpg");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  71% {
    background-image: url("./6.jpg");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("./6.jpg");
    background-position: -118px -2px;
    transform: rotateY(0deg);
  }
  91% {
    background-image: url("./1.jpg");
    background-position: -268px -2px;
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes nextFlip4 {
  0% {
    background-image: url("./1.jpg");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  11.5% {
    background-image: url("./2.jpg");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("./2.jpg");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  31.5% {
    background-image: url("./3.jpg");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("./3.jpg");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  51.5% {
    background-image: url("./5.jpg");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("./5.jpg");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  71.5% {
    background-image: url("./6.jpg");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("./6.jpg");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  91.5% {
    background-image: url("./1.jpg");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
}
@keyframes nextFlip4 {
  0% {
    background-image: url("./1.jpg");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  11.5% {
    background-image: url("./2.jpg");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("./2.jpg");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  31.5% {
    background-image: url("./3.jpg");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("./3.jpg");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  51.5% {
    background-image: url("./5.jpg");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("./5.jpg");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  71.5% {
    background-image: url("./6.jpg");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("./6.jpg");
    background-position: -88px -2px;
    transform: rotateY(0deg);
  }
  91.5% {
    background-image: url("./1.jpg");
    background-position: -298px -2px;
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes nextFlip5 {
  0% {
    background-image: url("./1.jpg");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  12% {
    background-image: url("./2.jpg");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("./2.jpg");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  32% {
    background-image: url("./3.jpg");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("./3.jpg");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  52% {
    background-image: url("./5.jpg");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("./5.jpg");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  72% {
    background-image: url("./6.jpg");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("./6.jpg");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  92% {
    background-image: url("./1.jpg");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
}
@keyframes nextFlip5 {
  0% {
    background-image: url("./1.jpg");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  12% {
    background-image: url("./2.jpg");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("./2.jpg");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  32% {
    background-image: url("./3.jpg");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("./3.jpg");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  52% {
    background-image: url("./5.jpg");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("./5.jpg");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  72% {
    background-image: url("./6.jpg");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("./6.jpg");
    background-position: -58px -2px;
    transform: rotateY(0deg);
  }
  92% {
    background-image: url("./1.jpg");
    background-position: -328px -2px;
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes nextFlip6 {
  0% {
    background-image: url("./1.jpg");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  12.5% {
    background-image: url("./2.jpg");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("./2.jpg");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  32.5% {
    background-image: url("./3.jpg");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("./3.jpg");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  52.5% {
    background-image: url("./5.jpg");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("./5.jpg");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  72.5% {
    background-image: url("./6.jpg");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("./6.jpg");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  92.5% {
    background-image: url("./1.jpg");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
}
@keyframes nextFlip6 {
  0% {
    background-image: url("./1.jpg");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  12.5% {
    background-image: url("./2.jpg");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("./2.jpg");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  32.5% {
    background-image: url("./3.jpg");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("./3.jpg");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  52.5% {
    background-image: url("./5.jpg");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("./5.jpg");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  72.5% {
    background-image: url("./6.jpg");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("./6.jpg");
    background-position: -28px -2px;
    transform: rotateY(0deg);
  }
  92.5% {
    background-image: url("./1.jpg");
    background-position: -358px -2px;
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes nextFlip7 {
  0% {
    background-image: url("./1.jpg");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  13% {
    background-image: url("./2.jpg");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("./2.jpg");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  33% {
    background-image: url("./3.jpg");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("./3.jpg");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  53% {
    background-image: url("./5.jpg");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("./5.jpg");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  73% {
    background-image: url("./6.jpg");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("./6.jpg");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  93% {
    background-image: url("./1.jpg");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
}
@keyframes nextFlip7 {
  0% {
    background-image: url("./1.jpg");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  13% {
    background-image: url("./2.jpg");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
  20% {
    background-image: url("./2.jpg");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  33% {
    background-image: url("./3.jpg");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
  40% {
    background-image: url("./3.jpg");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  53% {
    background-image: url("./5.jpg");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
  60% {
    background-image: url("./5.jpg");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  73% {
    background-image: url("./6.jpg");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
  80% {
    background-image: url("./6.jpg");
    background-position: -2px -2px;
    transform: rotateY(0deg);
  }
  93% {
    background-image: url("./1.jpg");
    background-position: -388px -2px;
    transform: rotateY(180deg);
  }
}
.twitterLink {
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
}
.twitterLink img {
  width: 2em;
  filter: grayscale(100%);
  transition: filter 0.25s;
}
.twitterLink img:hover {
  filter: grayscale(0%);
}